* {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

input,
button,
a {
  border: none;
}

#app {
  display: flex;
}

html,
body,
#app {
  height: 100%;
}

ul,
li {
  list-style-type: none;
}

.section.left {
  width: 300px;
  background: #383836;
}

.section.left .btn-box {
  text-align: right;
}

.btn-add-cate {
  position: relative;
  margin: 20px 20px 0 0;
  width: 50px;
  height: 50px;
  border: none;
  background: #fff;
  border-radius: 50%;
  text-indent: -999999rem;
  cursor: pointer;
}

.btn-add-cate:before,
.btn-add-cate:after {
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  background: #383836;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn-add-cate:after {
  width: 3px;
  height: 20px;
}

.cate-list {
  position: relative;
  margin-top: 30px;
  padding: 0 20px;
}
.cate-list li {
  position: relative;
  height: 50px;
}

.cate-list li > * {
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
.cate-list li input {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: #383836;
}
.cate-list li .cate-item {
  cursor: pointer;
}

.section.right {
  padding: 30px;
  width: calc(100% - 300px);
}
.todo-list-box h2 {
  margin-bottom: 10px;
  font-size: 30px;
}

.todo-list-box ul {
  border-top: 1px solid #dcdcdc;
}

.todo-list-box li {
  display: flex;
  align-items: center;
}

.todo-list-box li .input-checkbox {
  margin-right: 10px;
}
.todo-list-box li .input-checkbox input {
  display: none;
}
.todo-list-box li .input-checkbox label {
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: middle;
}
.todo-list-box li .input-checkbox input:checked + label {
  background: skyblue;
}
.todo-list-box li .input-text {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
}

.btn-box {
  margin-left: 34px;
}
.btn-add-todo {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
}
