* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  color: #333;
}
*:focus {
  outline: 0;
}

input,
button,
a {
  border: none;
}

#app {
  display: flex;
}

html,
body,
#app {
  height: 100%;
}

ul,
li {
  list-style-type: none;
}

.section.left {
  width: 300px;
  background: #383836;
}

.section.left .btn-box {
  text-align: right;
}

.btn-add-cate {
  position: relative;
  margin: 20px 20px 0 0;
  width: 50px;
  height: 50px;
  border: none;
  background: #fff;
  border-radius: 50%;
  text-indent: -999999rem;
  cursor: pointer;
}

.btn-add-cate:before,
.btn-add-cate:after {
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  background: #383836;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.btn-add-cate:after {
  width: 3px;
  height: 20px;
}

.cate-list {
  position: relative;
  margin-top: 30px;
}
.cate-list li {
  position: relative;
  padding: 0 20px;
  height: 50px;
}

.cate-list li > * {
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
.cate-list li input {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  border: none;
  background: transparent;
}
.cate-list li .cate-item {
  cursor: pointer;
}

.section.right {
  padding: 0 30px 30px;
  width: calc(100% - 300px);
}

.search-box {
  position: relative;
  margin: 0 -30px 20px;
  border-bottom: 1px solid #dcdcdc;
}
.search-box input {
  display: block;
  padding: 10px 20px 10px 40px;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
}
.search-box .search-ico {
  position: absolute;
  top: 52%;
  left: 12px;
  transform: translateY(-50%);
}

.todo-list-box h2 {
  margin-bottom: 10px;
  font-size: 30px;
}
.todo-complete-list + .todo-list {
  margin-top: 100px;
}
.todo-complete-list h3 {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: normal;
  color: #666;
}

.todo-list-box .todo-list {
  border-top: 1px solid #dcdcdc;
}

.todo-list-box li {
  display: flex;
  align-items: center;
}

.todo-list-box li .input-checkbox {
  margin-right: 10px;
}
.todo-list-box li .input-checkbox input {
  display: none;
}
.todo-list-box li .input-checkbox label {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  box-sizing: border-box;
  vertical-align: middle;
}

.todo-list-box li .input-checkbox input.checked + label {
  border-color: #4285f4;
}
.todo-list-box li .input-checkbox input.checked + label:after {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 20px;
  height: 20px;
  background: #4285f4;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  content: "";
}
.todo-list-box li .input-text {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-bottom: 1px solid #dcdcdc;
  box-sizing: border-box;
}

.btn-box {
  margin-left: 34px;
}
.btn-add-todo {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: left;
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  cursor: pointer;
}
